/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root{
	-fx-background-color: black;
}

.dialog-pane{
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-family: "Times New Roman";
}

.dialog-pane:header .header-panel{
    -fx-background-color: black;
}

#title{
	-fx-font-size: 90;
	-fx-text-fill: white;
	-fx-font-family: "Times New Roman";
	-fx-font-style: normal;
}

.label{
	-fx-font-size: 20;
	-fx-text-fill: white;
	-fx-font-family: "Times New Roman";
	-fx-font-style: normal;
}


.button:hover{
	-fx-background-color: green;
	-fx-text-fill: black;
}

.button{
	-fx-max-width: 200px;
	-fx-background-color: black;
	-fx-border-color: white;
	-fx-font-size: 25;
	-fx-text-fill: white;
	-fx-font-family: "Times New Roman";
	-fx-font-style: normal;
}

.slider .track{
	-fx-background-color: linear-gradient(to left, #43f72f, #082e04);
}

.slider .thumb{
	-fx-pref-height: 20px;
	-fx-background-color: linear-gradient(to top,gray,lightgray);
}





#settings{
	-fx-background-color: black;
	-fx-opacity: 0.9;
	-fx-background-radius: 10px;
	-fx-border-radius: 10px;
	-fx-border-width: 5px;
	-fx-border-color: white;
}

.combo-box{
	-fx-font-size:20px;
	-fx-text-fill: black;
}

.combo-box .list-cell 
{
    -fx-background: green;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-cell-size: 2em; 
    -fx-text-alignment: center;
}

.combo-box-popup .list-view 
{
	
    -fx-background-color: green;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}    

.combo-box-popup .list-view .list-cell 
{


    /* No alternate highlighting */
    -fx-text-alignment: center;
    -fx-background-color: black;
    -fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover 
{
    -fx-text-alignment: center;
    -fx-background-color: green;
    -fx-text-fill: white;
}

.combo-box-popup .list-view .list-cell:filled:hover 
{
	-fx-text-alignment: center;
    -fx-background-color: green;
    -fx-text-fill: black;
}

.combo-box-base  
{
  
    -fx-background-color: green;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
    
}

.combo-box-base:hover
{
    -fx-color: -fx-hover-base;
    
}

.combo-box-base:showing 
{
    -fx-color: -fx-pressed-base;

}

.combo-box-base:focused {
    -fx-background-color: green;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.combo-box-base:disabled {
    -fx-opacity: .4;
}