/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#game{
	-fx-text-fill: white;
}

#list{
	-fx-background-color: green;
}

#settings{
    -fx-background-color: black;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 5px;
    -fx-border-color: white;
    -fx-opacity: 0.8;
}

#settings .label{
        -fx-font-size: 16;
        -fx-text-fill: white;
        -fx-padding: 2px;
}

#settings .button{
         -fx-padding: 2px;
         -fx-background-color: black;
         -fx-border-color: white;
         -fx-font-size: 12;
         -fx-text-fill: white;
}



#settings .button:hover{
         -fx-background-color: green;
         -fx-text-fill: black;
 }

 #status{
        -fx-background-color: black;
        -fx-background-radius: 10px;
        -fx-border-radius: 10px;
        -fx-border-width: 5px;
        -fx-border-color: white;
        -fx-opacity: 0.8;
 }

#status .label{
    -fx-text-fill: white;
}

#status .button{
    -fx-background-color: red;
    -fx-text-fill: black;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

#status .button:hover{
    -fx-background-color: #9c0b0b;
}

#bag {
    -fx-background-color: black;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-width: 5px;
    -fx-border-color: white;
    -fx-opacity: 0.8;

}

#bag .label{
    -fx-min-height: 50px;
    -fx-text-fill: white;
}

#bag .button{
    -fx-background-color: black;
    -fx-font-size: 12;
    -fx-text-fill: white;
    -fx-padding: 5px;
    -fx-border-width: 2px;
    -fx-border-color: white;
    -fx-min-width: 250px;
    -fx-min-height: 50px;
}

#bag .button:hover{
    -fx-background-color: red;
    -fx-text-fill: black;
}


#power{
	-fx-background-color: radial-gradient(focus-distance 0% , center 50% 50% , radius 55% , #000000, #E01619);
	-fx-text-fill: white;
}

#enemyHealth{
	-fx-pref-width:200px;
	-fx-box-border: green;
	-fx-accent: green;
	-fx-control-inner-background: red;
}

#mana{
	-fx-pref-width: 200px;
}

.button{
	-fx-font-family: "Comic Sans MS";
	-fx-pref-width: 100px;
	-fx-background-color: green;
}

.button:hover{
	-fx-background-color: brown;
}

#restart{
	-fx-background-color: black;
	-fx-text-fill: red;
	-fx-font-family: "Verdana";
	-fx-font-size: 30;
	-fx-pref-width: 200px;
}

#restart:hover{
	-fx-background-color: red;
	-fx-text-fill: black;
}

#dialogue {
	-fx-background-color: black;
	-fx-opacity: 0.8;
	-fx-background-radius: 10px;
	-fx-border-radius: 10px;
	-fx-border-width: 5px;
	-fx-border-color: white;

}

#dialogue .label{
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

#dialogue .button{
        -fx-padding: 2px;
    	-fx-background-color: black;
    	-fx-border-color: white;
    	-fx-font-size: 12;
    	-fx-text-fill: white;
    	-fx-font-style: normal;
}

#dialogue .button:hover{
    -fx-background-color: green;
    -fx-text-fill: black;
}